.TopLoading,
.BottomLoading {
  display: none;
  text-align: center;
}

.PullLoading {
  display: inline-block;
  text-align: center;
  opacity: .4;
  margin: 10px 5px;
}

.PullLoading .Loading-p1 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.PullLoading .Loading-p2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.PullLoading .Loading-p3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.PullLoading span {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  border-radius: 50%;
  -webkit-animation: Loading-Keyframes 0.4s infinite alternate;
  animation: Loading-Keyframes 0.4s infinite alternate;
}

@-webkit-keyframes Loading-Keyframes {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #000;
    opacity: 1;
  }
}

@keyframes Loading-Keyframes {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #000;
    opacity: 1;
  }
}
