.Default {
  font-size: var(--LUUIFontSize14);
  line-height: 4rem;
  color: var(--Color-Base-Normal2);
  text-align: center;
  background-color: var(--Color-ffffff);

  ul {
    li.active {
      color: var(--Color-Base-Important1);
      border-bottom: var(--Color-Base-Important1) solid 0.2rem;
    }
  }
}

.Gray {
  background-color: var(--Color-ffffff);
  text-align: center;
  color: var(--Color-Base-Normal2);
  font-size: var(--LUUIFontSize13);
  box-sizing: border-box;

  ul {
    line-height: 3.5rem;
    padding: 0.5rem 0;

    li {
      align-items: center;
      box-sizing: border-box;
    }

    li.active {
      color: var(--Color-Base-Important1);
    }
  }
}

.Blue {
  ul {
    font-size: var(--LUUIFontSize14);
    line-height: 2.5rem;
    color: var(--Color-ffffff);
    text-align: center;
    background-color: var(--Color-Base-Important3);
    border: 1px solid var(--Color-Base-Important3);
    border-radius: 0.4rem;

    li.active {
      color: var(--Color-ffffff);
    }

    li:not(.active) {
      color: var(--Color-Base-Important3);
      background-color: var(--Color-ffffff);
    }

    li:first-child {
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    li:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
  }
}
