.InputItem {
  border-width: 1px 0;
  &-label {
    padding-right: 2rem;
    color: #13334d;
    font-size: 1.5rem;
    white-space: nowrap;
    &-withicon {
      padding-right: 1rem;
    }
  }
  
  &-input {
    height: 2rem;
    width: 10rem;
    color: #fff;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 0;
    border: none;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #A8A5A5;
  }

  &-input:disabled {
    background-color: #fff;
  }

  &-input,
  &-input:focus,
  &-input:active {
    border: none;
    outline: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &-input::-webkit-input-placeholder {
    font-size: 1rem;
    color: #fff;
    box-sizing: border-box;
  }
}
