.InputItem {
  border-width: 1px 0;
  background-color: #fff;
  &-label {
    padding-right: 2rem;
    color: #13334d;
    font-size: 1.5rem;
    white-space: nowrap;
    &-withicon {
      padding-right: 1rem;
    }
  }

  &-labelicon {
    padding-right: 2rem;
    color: #13334d;
  }

  &-input {
    height: 2rem;
    width: 100%;
    color: #13334d;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 0;
    border: none;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &-input:disabled {
    background-color: #fff;
  }

  &-input,
  &-input:focus,
  &-input:active {
    border: none;
    outline: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &-input::-webkit-input-placeholder {
    font-size: 1rem;
    color: #13334d;
    box-sizing: border-box;
  }

  &-unit {
    color: #13334d;
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  .icon-close {
    color: #13334d;
    padding-left: 1.5rem;
  }

  .css-close {
    display: none;
  }
}
