.NoticeBar {
  height: 4rem;
  line-height: 4rem;
  background-color: #fff6d4;
  font-size: 1.5rem;
  color: #e4362d;
  opacity: 0.8;
}
.icon-message {
  margin-left: 0.5rem;
  margin-right: 0.5rem;  
}