.PanelInfo {
  background-color: #fff;
  padding: 1.5rem 1.5rem 1.5rem 0rem;

  li {
    font-size: 1.3rem;
    line-height: 1.85rem;
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &-label {
    width: 9.8rem;
  }
}
