@font-face {
  font-family: "lufont";
  src: url('../fonts/lufont.eot');

  /* IE9 */
  src: url('../fonts/lufont.eot?#iefix') format('embedded-opentype'), url('../fonts/lufont.woff') format('woff'), url('../fonts/lufont.ttf') format('truetype'), url('../fonts/lufont.svg#lufont') format('svg');

  /* iOS 4.1- */
}

.lufont {
  font-family: "lufont" !important;
  font-size: 1.6rem;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.02rem;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lumi::before { content: "\e600"; }

.icon-luleyuan6259cf::before { content: "\e601"; }

.icon-wu::before { content: "\e602"; }

.icon-clock::before { content: "\e603"; }

.icon-choose::before { content: "\e604"; }

.icon-lumigouff580e::before { content: "\e605"; }

.icon-jiantouyou::before { content: "\e606"; }

.icon-jiantouzuo::before { content: "\e607"; }

.icon-xinshouliyu3fbbef::before { content: "\e608"; }

.icon-yaoyiyaoffcc00::before { content: "\e609"; }

.icon-caution::before { content: "\e60a"; }

.icon-gift::before { content: "\e60b"; }

.icon-location::before { content: "\e60c"; }

.icon-lock::before { content: "\e60d"; }

.icon-more::before { content: "\e60e"; }

.icon-money::before { content: "\e60f"; }

.icon-ok::before { content: "\e610"; }

.icon-phone::before { content: "\e611"; }

.icon-que::before { content: "\e612"; }

.icon-ren::before { content: "\e613"; }

.icon-sign01::before { content: "\e614"; }

.icon-vipicon::before { content: "\e615"; }

.icon-vipffb400::before { content: "\e616"; }

.icon-youbian::before { content: "\e617"; }

.icon-arrow1::before { content: "\e618"; }

.icon-share01::before { content: "\e619"; }

.icon-cupon::before { content: "\e61a"; }

.icon-email::before { content: "\e61b"; }

.icon-accountwhite::before { content: "\e626"; }

.icon-downgrey::before { content: "\e629"; }

.icon-qishi01::before { content: "\e62b"; }

.icon-iconfont101::before { content: "\e62c"; }

.icon-iconfont201::before { content: "\e630"; }

.icon-pushnotifysetting::before { content: "\e634"; }

.icon-question::before { content: "\e635"; }

.icon-uparrow::before { content: "\e636"; }

.icon-dianjinjihua1::before { content: "\e637"; }

.icon-dianjinjihua3::before { content: "\e638"; }

.icon-dianjinjihua5::before { content: "\e639"; }

.icon-foot::before { content: "\e63a"; }

.icon-prize::before { content: "\e63b"; }

.icon-paper01::before { content: "\e63d"; }

.icon-chujia01::before { content: "\e640"; }

.icon-feidie01::before { content: "\e641"; }

.icon-cantsee::before { content: "\e644"; }

.icon-cansee::before { content: "\e645"; }

.icon-checkobx::before { content: "\e646"; }

.icon-close::before { content: "\e648"; }

.icon-272alertclose::before { content: "\e649"; }

.icon-272correct::before { content: "\e64b"; }

.icon-272checkbox::before { content: "\e64c"; }

.icon-arrowright::before { content: "\e64e"; }

.icon-fengxianicon::before { content: "\e650"; }

.icon-attention::before { content: "\e651"; }

.icon-correct::before { content: "\e652"; }

.icon-round::before { content: "\e655"; }

.icon-qitoueicon::before { content: "\e656"; }

.icon-arrowup::before { content: "\e657"; }

.icon-502::before { content: "\e65a"; }

.icon-102::before { content: "\e65b"; }

.icon-303::before { content: "\e65c"; }

.icon-306::before { content: "\e65d"; }

.icon-105::before { content: "\e65e"; }

.icon-301::before { content: "\e65f"; }

.icon-305::before { content: "\e660"; }

.icon-103::before { content: "\e661"; }

.icon-307::before { content: "\e662"; }

.icon-310::before { content: "\e663"; }

.icon-403::before { content: "\e664"; }

.icon-308::before { content: "\e665"; }

.icon-302::before { content: "\e666"; }

.icon-safe::before { content: "\e66d"; }

.icon-104::before { content: "\e66e"; }

.icon-cion01::before { content: "\e66f"; }

.icon-cameranew::before { content: "\e670"; }

.icon-304::before { content: "\e671"; }

.icon-309::before { content: "\e672"; }

.icon-fangdajing::before { content: "\e673"; }

.icon-messageinvite::before { content: "\e674"; }

.icon-huangou::before { content: "\e675"; }

.icon-lumigou01::before { content: "\e679"; }

.icon-arrowdown::before { content: "\e67a"; }

.icon-wifi::before { content: "\e67e"; }

.icon-arrowfilter::before { content: "\e67f"; }

.icon-arrowfilterup::before { content: "\e680"; }

.icon-jijinicon::before { content: "\e681"; }

.icon-linghuobaoicon::before { content: "\e682"; }

.icon-calendar::before { content: "\e683"; }

.icon-listascorder::before { content: "\e684"; }

.icon-listcategory::before { content: "\e685"; }

.icon-listcheck::before { content: "\e686"; }

.icon-listdesorder::before { content: "\e687"; }

.icon-listfilter::before { content: "\e688"; }

.icon-listheighterearnings::before { content: "\e689"; }

.icon-listmoreproject::before { content: "\e68a"; }

.icon-listnaviback::before { content: "\e68b"; }

.icon-listpromotionchecked::before { content: "\e68c"; }

.icon-listrecommend::before { content: "\e68d"; }

.icon-listrefresh::before { content: "\e68e"; }

.icon-listshortterm::before { content: "\e68f"; }

.icon-listspecialrecommend::before { content: "\e690"; }

.icon-listtradefinishbg::before { content: "\e691"; }

.icon-gengduoxuanzhong::before { content: "\e692"; }

.icon-gengduo::before { content: "\e693"; }

.icon-huiyuanjulebuxuanzhong::before { content: "\e694"; }

.icon-huiyuanjulebu::before { content: "\e695"; }

.icon-shouyexuanzhong::before { content: "\e696"; }

.icon-shouye::before { content: "\e697"; }

.icon-touzilicaixuanzhong::before { content: "\e698"; }

.icon-touzilicai::before { content: "\e699"; }

.icon-wodezhanghuxuanzhong::before { content: "\e69a"; }

.icon-wodezhanghu::before { content: "\e69b"; }

.icon-wuxinhao::before { content: "\e6a4"; }

.icon-wucuxiaogouxuan::before { content: "\e6a5"; }

.icon-jijinsousuo::before { content: "\e6a6"; }

.icon-jijin01::before { content: "\e6a7"; }

.icon-linghuobao01::before { content: "\e6a8"; }

.icon-shoukuanrili01::before { content: "\e6a9"; }

.icon-24xiaoshi::before { content: "\e6aa"; }

.icon-wentikongxin::before { content: "\e6ab"; }

.icon-complete::before { content: "\e6ac"; }

.icon-lishijilu::before { content: "\e6ad"; }

.icon-navibacknew::before { content: "\e6af"; }

.icon-level2::before { content: "\e6b3"; }

.icon-yx2::before { content: "\e6b4"; }

.icon-hotsales::before { content: "\e6b5"; }

.icon-A01::before { content: "\e6b6"; }

.icon-otherbanks::before { content: "\e6b7"; }

.icon-starhalf::before { content: "\e6b8"; }

.icon-starempty::before { content: "\e6b9"; }

.icon-star::before { content: "\e6ba"; }

.icon-danger::before { content: "\e6bb"; }

.icon-safe1::before { content: "\e6bc"; }

.icon-B89::before { content: "\e6bd"; }

.icon-setup::before { content: "\e6be"; }

.icon-paixingbang::before { content: "\e6bf"; }

.icon-redeem::before { content: "\e6c2"; }

.icon-total_value::before { content: "\e6c3"; }

.icon-security::before { content: "\e6c4"; }

.icon-baozhang::before { content: "\e6c6"; }

.icon-jianshao::before { content: "\e6c8"; }

.icon-dianhua::before { content: "\e6c9"; }

.icon-zengjia::before { content: "\e6ca"; }

.icon-correctborder::before { content: "\e6cb"; }

.icon-checkobxborder::before { content: "\e6cd"; }

.icon-cheng1::before { content: "\e6ce"; }

.icon-checkbox::before { content: "\e6cf"; }

.icon-add::before { content: "\e6d1"; }

.icon-arrowright2::before { content: "\e6d2"; }

.icon-highendinvest::before { content: "\e6d3"; }

.icon-navitri::before { content: "\e6d4"; }

.icon-zuidibaozhang::before { content: "\e6d5"; }

.icon-correctborder1::before { content: "\e6d7"; }

.icon-correct1::before { content: "\e6d8"; }

.icon-arrowdown2::before { content: "\e6d9"; }

.icon-roundminus::before { content: "\e6e1"; }

.icon-roundplus::before { content: "\e6e2"; }

.icon-refresh::before { content: "\e6e3"; }

.icon-defaultloading::before { content: "\e6e4"; }

.icon-rmb::before { content: "\e6e5"; }

.icon-withdrawrmb::before { content: "\e6e6"; }

.icon-close2::before { content: "\e6e7"; }

.icon-zhuan::before { content: "\e6ee"; }

.icon-daojishi::before { content: "\e6ef"; }

.icon-xingqingweixuan::before { content: "\e6f0"; }

.icon-xingqingyixuan::before { content: "\e6f1"; }

.icon-zixuanweixuan::before { content: "\e6f2"; }

.icon-zixuanyixuan::before { content: "\e6f3"; }

.icon-jiaoyiweixuan::before { content: "\e6f4"; }

.icon-jiaoyiyixuan::before { content: "\e6f5"; }

.icon-remenzuheweixuan::before { content: "\e6f6"; }

.icon-remenzuheyixuan::before { content: "\e6f7"; }

.icon-iconcrossadd::before { content: "\e6f8"; }

.icon-time::before { content: "\e6f9"; }

.icon-calendargatheringtip::before { content: "\e6fa"; }

.icon-profile::before { content: "\e6fd"; }

.icon-cu::before { content: "\e6fe"; }

.icon-message::before { content: "\e6ff"; }

.icon-calendargridnew::before { content: "\e701"; }

.icon-calendarlist::before { content: "\e702"; }

.icon-faxianweixuanzhong::before { content: "\e70b"; }

.icon-faxianxuanzhong::before { content: "\e70c"; }

.icon-rili::before { content: "\e70d"; }

.icon-xiaoxi::before { content: "\e70e"; }

.icon-denglu::before { content: "\e710"; }

.icon-perhaps::before { content: "\e713"; }

.icon-buttoncamera::before { content: "\e714"; }

.icon-customerservice::before { content: "\e715"; }

.icon-rightsdesc::before { content: "\e716"; }

.icon-rightsname::before { content: "\e717"; }

.icon-rightsmanager::before { content: "\e718"; }

.icon-rightsproduct::before { content: "\e719"; }

.icon-rightscoupon::before { content: "\e71a"; }

.icon-financemanager::before { content: "\e71b"; }

.icon-rightsdiamond::before { content: "\e71c"; }

.icon-feifangift::before { content: "\e71d"; }

.icon-feifanfinance::before { content: "\e71e"; }

.icon-vipcash::before { content: "\e71f"; }

.icon-vipphone::before { content: "\e720"; }

.icon-reminder::before { content: "\e721"; }

.icon-icondianzanyizan::before { content: "\e722"; }

.icon-icondianzanmoren::before { content: "\e723"; }

.icon-yujiazailu::before { content: "\e724"; }

.icon-iconvipsmall::before { content: "\e728"; }

.icon-iconquanyizhuanshutouzixiangmu::before { content: "\e734"; }

.icon-vipcashnew::before { content: "\e735"; }

.icon-guanbimaikefeng::before { content: "\e736"; }

.icon-guanbishexiangtou::before { content: "\e737"; }

.icon-kaiqimaikefeng::before { content: "\e738"; }

.icon-kaiqishexiangtou::before { content: "\e739"; }

.icon-yanma::before { content: "\e73a"; }

.icon-delete::before { content: "\e73b"; }

.icon-baozhang1::before { content: "\e73d"; }

/* add V367 */
.icon-genduxinxi::before { content: "\e73e"; }
.icon-jingtoufanzhuan::before { content: "\e73f"; }
.icon-shouyiicon::before { content: "\e740"; }
.icon-jiantou::before { content: "\e741"; }
.icon-pay_card_correct_border::before { content: "\e7b1"; }
.icon-pay_card_correct::before { content: "\e7b2"; }
.icon-cansee2::before { content: "\e7b3"; }
.icon-cantsee2::before { content: "\e7b4"; }
.icon-icon_loudspeaker::before { content: "\e7b5"; }
.icon-icon_biaotilan_gengduo::before { content: "\e7bc"; }
.icon-xinghao::before { content: "\e7bd"; }
.icon-nut::before { content: "\e750"; }
.icon-icon-yijianfankui::before { content: "\e751"; }
.icon-icon-biaotixialajiantou::before { content: "\e752"; }
.icon-zijinzhouzhuan::before { content: "\e753"; }
.icon-qitazichan::before { content: "\e754"; }
.icon-touzilicaifuwu::before { content: "\e755"; }
.icon-huodongjiangli::before { content: "\e756"; }
.icon-icon-biaotixialajiantoufanzhuan::before { content: "\e757"; }
.icon-icon-yueduzhangdan::before { content: "\e758"; }
.icon-icon_zaixiankefu::before { content: "\e75b"; }
.icon-icon_fenxiang::before { content: "\e75c"; }
.icon-icon_qiandao::before { content: "\e75d"; }
.icon-icon_shipinbofang::before { content: "\e75e"; }
.icon-icon_jiangbei::before { content: "\e75f"; }
.icon-icon_dianzan_moren_fanxiang::before { content: "\e760"; }
.icon-icon_dianzan_yizan_fanxiang::before { content: "\e761"; }
.icon-xiaoeyingji::before { content: "\e762"; }
.icon-xiaofeidaikuan::before { content: "\e763"; }

/* add V375 */
.icon-dingdan::before { content: "\e769"; }
.icon-dingdan-xuanzhong::before { content: "\e76a"; }
.icon-tag_cancel::before { content: "\e76e"; }
.icon-shengou::before { content: "\e76f"; }
.icon-fenxiangzhuanqian::before { content: "\e772"; }
.icon-shixiao::before { content: "\e773"; }
.icon-yuyue::before { content: "\e775"; }
.icon-zhuanshukefu::before { content: "\e776"; }
.icon-VIPquanyi_bozuandingzhichanpin::before { content: "\e777"; }
.icon-VIPquanyi_feifanzhibo::before { content: "\e778"; }
.icon-VIPquanyi_feifanxianxiatiyan::before { content: "\e779"; }
